*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* Font */
  --font-size: 0.9375rem;
  /* Colors */
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
  /* Border Radius */
  --border-radius: 1.125rem;
}

html {
  font-size: 100%;
}

body {
  height: 100vh;
  font-family: "Outfit", sans-serif;
  font-size: var(--font-size);
  font-weight: 400;
  background-color: var(--light-gray);
}

.main {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.qrcode-wrapper {
  width: 20.125rem;
  padding: 1.125rem;
  background-color: var(--white);
  border-radius: var(--border-radius);
}

.qrcode-wrapper .qrcode-image {
  width: 18.125rem;
  height: 18.125rem;
  overflow: hidden;
  border-radius: calc(var(--border-radius) / 2);
}

.qrcode-image img {
  width: 100%;
  height: 100%;
  background: no-repeat center / cover;
}

.qrcode-wrapper .qrcode-text {
  text-align: center;
  padding: 1.375rem 1rem;
}

.qrcode-text h2 {
  font-size: 1.375rem;
  color: var(--dark-blue);
  margin-bottom: 1rem;
}

.qrcode-text p {
  color: var(--grayish-blue);
  font-size: var(--font-size);
  line-height: 1.3;
}
